<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:lang="${#locale.language}"
  lang="en"
>
  <head>
    <title th:text="#{email.reset.title}">ElectronicShop password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.name})}">Dear</p>
    <p th:text="#{email.reset.text1}">
      For your account a password reset was requested, please click on the URL
      below to reset it:
    </p>
    <p>
      <a
        th:with="url=(@{|${frontEndUrl}/password/reset/${user.resetKey}|})"
        th:href="${url}"
        th:text="${url}"
        >Setup newpassword</a
      >
    </p>
    <hr />
    <p th:text="${user.resetKey}">Reset key:</p>
    <p>
      <span th:text="#{email.reset.text2}">Regards, </span>
    </p>
  </body>
</html>
